@media (max-width: 991px) {
    .carousel {
    &__inner {
        img {
            display: block;
            margin: 0 auto;
            max-width: 700px;
            }
        }
    .next {
        right: 10px;
    }
    .prev {
        left: 10px;
    }

    .tns-nav {
        display: none;
    }
    
}
.pageup {
    right: 50px;
    }
}
@media (max-width: 767px) {
 .promo {
    .header, &__wrapper {
    margin-left: 10px;
    margin-right: 10px;
    }
 }
.carousel {
    &__inner {
        img {
         display: block;
         margin: 0 auto;
         max-width: 500px;
         }
     }
    .next {
        right: 40px;
    }
    .prev {
        left: 40px;
    }
}
.consultation {
    .title_left {
        text-align: center;
        font-size: 29px;
    }
    &__descr {
    text-align: center;
    }
    .feed-form {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
.catalog {
    justify-content: center;
    &-item {
    margin-left: 30px;
    width: 320px;
        }
    }
.pageup {
    right: 30px;
    }
}
@media (max-width: 708px) {
    .catalog__content {
        justify-content: center;
    }
    .feedback {
        &__item {
            width: 90%;
            margin: 0 auto;
            margin-top: 35px;
        }
    }
}  
@media (max-width: 575px) {
    .header {
        flex-wrap: wrap;
        justify-content: space-evenly;
        &__logo {
            width: 200px;
        }
        &__phone {
            font-weight: 300;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 14px;
            }
        }
        &__contacts {
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
        }
    }
    .promo {
        background: url('../img/main-min.jpg') center (center/cover) repeat;
        .button_main {
            margin: 0 auto;
            margin-top: 45px;
            }
        &__wrapper {      
            align-items: center;  
        }
        &__header {
            font-size: 32px;
            font-weight: 400;
            line-height: 32px;
            text-align: center;
            margin: 0 auto;
        }
        &__subheader {
            font-size: 12px;
           margin: 0 auto;
            }
        &__link {
            margin: 0 auto;
            margin-top: 15px;
        }
    }
    .advantages {
        padding-top: 30px;
        &__wrapper {
            flex-direction: column;
            justify-content: center;
        }
        &__item {
            margin: 0 auto;
            text-align: justify;
            h3 {
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: center;
            }
        }  
    }
    .consultation {    
        &__descr {
            text-align: center; 
            width: auto;
            font-size: 16px;
        }
        .title.title_left {
            text-align: center;
            font-size: 20px;
        }
    }
    
    .carousel {
    &__inner {
        img {
        width: 350px;
        }
      }
    .prev, .next {
        display: none;
    }
    .tns-outer {
        position: relative;
        display: block;
    .tns-nav {
        display: block;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%); 
        button {
        width: 25px;
        height: 5px;
        transform: skewX(-25deg);
        background-color: $main-color;
        z-index: 3;
        &:nth-child(2) {
            margin-left: 10px;
            margin-right: 10px;
                     }
                }
            }
        } 
    }
    .catalog {
        &__tab {
            font-size: 12px;
            width: 110px;
            div {
                text-align: center;
                width: 100%;
                padding-top: 15px;
                line-height: 9px;
            }
        }
        &__content {
            margin-top: 30px;
        }
        &-item {
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
    .feedback {
        &__item {
            flex-direction: column;
        }
        &__photo {
            margin-bottom: 15px;
        }
        &__descr {
            margin-left: 0;
            text-align: justify;
            .title {
                text-align: center;
            }
            span {
                margin-left: 50%;
                transform: translateX(-25%);
            }
            &_margin {
                margin-top:25px;
                margin-bottom: 25px;
            }
        }
    }
    .footer__info {
        width: 320px;
        padding: 0;
        padding-top: 15px;
    }
    .overlay {
        .modal {
            width: 300px;
            left: 47%;
            .feed-form {
                margin-left: -15px;
            }
            input, button {
                width: 250px;
            }
        }
    }
}
@media (max-width: 440px) {
    .promo {
        &__wrapper {
            margin-top: 35px;      
        }
        &__header {
            font-size: 28px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }

}
@media (max-width: 390px) {
    .catalog {
        &__tab {
            font-size: 10px;
            width: 100px;
        }
    }
}
@media (max-width: 380px) {
    .header {
        flex-direction: column;
        justify-content: space-between;
        height: 140px;
        img {
            width: 110%;
            height: 110%;
            object-fit: cover;
            
        }
        &__phone {
            display: none;
        }
        button {
            display: none;
        }
    }
    
        &__wrapper {
            margin: 0 auto;
            margin-top: 25px;
        }
        &__icons {
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;
        }
    }
