.button {
    display: block;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main_color;
    border: none;
    color: $white_color;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}